header{
    background: aqua;
    text-align: center;
    padding: 1cm;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

form input{
   padding-left:cm;  
   width: 600px;
   height: 30px;
}
form button#btn{
    background: cadetblue;
    color: #fff;
    padding:.5em;
    border: none;
}

form button#btn:hover{
    color: aqua;
}